
body {
  text-align: center;
  background-color: #011F3F;
  margin: 0;
  height: 100vh; 
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  justify-items: center;
  width: 90%;
  margin: auto;
}

.btn {
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}


@media (orientation: landscape) and (max-height: 600px) {
  #level-title {
    font-size: 1.5rem;
    margin: 5px;
  }

  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 10px;
  }

  .btn {
    height: 60px; 
    width: 60px;
    border-width: 5px;
  }
}

/* For Portrait phones */
@media (orientation: portrait) and (max-width: 600px) {
  .btn {
    height: 30vw;
    width: 30vw;
  }
}
